<div id="<%= dom_id category %>">
    <div class="my-6 border-solid border-1 bg-[#F5F5F5] p-4 mx-4">
      <div class="flex justify-between md:w-1/2">
        <% if category.icon.attached? %>
          <%= image_tag category.icon, class: "w-32 h-32 object-cover rounded-lg" %>
        <% else %>
          <img
            src="https://cdn.tailgrids.com/1.0/assets/images/cards/card-01/image-01.jpg"
            alt="image"
            class="w-32 h-32"
          />
        <% end %>
        <div class="flex flex-col justify-center">
          <h5><%= category.name %><h5>
          <h5 class="font-bold text-sm">Total: $<%= category.records.sum(:amount) %></h5>
        </div>
      </div>
    </div> 
</div>
