<nav class="bg-[#3778C2]">
  <ul>
    <li>
    <a href="/"><i class="fa fa-navicon"></i></a>
    </li>
    <li>
      <h2 class="heading fw-bold">Categories</h2>
    </li>
    <li>
      <%= button_to destroy_user_session_path, method: :delete do %>   
        <i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>
</nav>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
